@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@font-face{
    font-family:'Cabin';
    src:url('/fonts/Cabin-VariableFont_wdth,wght.ttf')
  }

html, body { @apply h-full ;  }
